$blue: #009FB7;
$yellow: #FED766;
$red: #FE4A49;

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.boxes {
    position: relative;
    height: 33.33333333vh; //hacky mchackerson
    width: 100%;
}

#russian {
    background-color: $blue;
}

#spanish {
    background-color: $yellow;
    text-transform: lowercase !important;
}

#korean {
    background-color: $red;
}

.word-container {
    width: 50vw;
    height: 80%;
    display: table;
    position: relative;
    margin: 0 auto;
    top: 10%;
    background: rgba(0,0,0,0.15);
}

.word {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    height: 100%;
    font-size: 6.5vw;
    font-weight: bold;
    //color: white;
    text-align: center;
}
